#Basic files involved with the activator ui and all that jazz
**/.sbtserver
**/.sbtserver.lock
activator
activator.bat
activator-launch-*
RUNNING_PID

#Files involved in compiles and staging
**/target
**/project

# Project files
**/*.conf